*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnsDiv button {
  width: 25%;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 18px;
}

@media (max-width: 400px) {
  .btnsDiv button {
    width: 50%;
  }
}

@media (max-width: 300px) {
  .btnsDiv button {
    width: 100%;
  }  
}